
<% Menu.forEach(menu => { %>
  <li class="nav-item">
    <a class="nav-link" href="<%=menu.route%>">
      <span class="icon-bg"><i class="<%=menu.icon%>"></i></span>
      <span class="menu-title"><%=menu.title%></span>
    </a>
  </li>
<% }); %>
