
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <hr>
      <hr>
      <hr>
      <li class="nav-item nav-category">BSU -ECSYS - Admin Dashboard</li>
    
      
      <li class="nav-item">
        <a class="nav-link" href="dashboard">
          <span class="icon-bg"><i class="mdi mdi-home menu-icon"></i></span>
          <span class="menu-title">Home</span>
        </a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" href="eventlist">
          <span class="icon-bg"><i class="mdi mdi-format-list-checkbox menu-icon"></i></span>
          <span class="menu-title">Event List View</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="eventcalendar">
          <span class="icon-bg"><i class="mdi mdi-table-large menu-icon"></i></span>
          <span class="menu-title">Event Calendar View</span>
        </a>
      </li>
     
      <br>
      <li class="nav-item nav-category">Manage Account</li>
      
      
      <li class="nav-item sidebar-user-actions">
        <div class="sidebar-user-menu">
          <a href="#" class="nav-link"><i class="mdi mdi-settings menu-icon"></i>
            <span class="menu-title">Settings</span>
          </a>
        </div>
      </li>
    
      <li class="nav-item sidebar-user-actions">
        <div class="sidebar-user-menu">
          <a id="logout1" href="#" class="nav-link"><i class="mdi mdi-logout menu-icon"></i>
            <span class="menu-title">Log Out</span></a>
        </div>
      </li>
    </ul>
  </nav>

  