<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BSU-ECSYS</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/css/flag-icon.min.css">
    <link rel="stylesheet" href="/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href=/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/css/styleStudDashboard.css">
    <link rel="stylesheet" href="/css/img.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/images/Batangas_State_Logo.png" />
      
  </head>
  <body>
    <div class="container-scroller">
      
      <!--**********************************
            Nav header start
        ***********************************-->
        <%- include('../partials/dashboard-navbar'); %>
        <!--**********************************
              Nav header end
          ***********************************-->
      
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <hr>
            <hr>
            <hr>
            <li class="nav-item nav-category">BSU -ECSYS - <%= usertype %> Dashboard</li>
          
            
            <li class="nav-item">
              <a class="nav-link" href="dashboard">
                <span class="icon-bg"><i class="mdi mdi-home menu-icon"></i></span>
                <span class="menu-title">Home</span>
              </a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link" href="eventlist">
                <span class="icon-bg"><i class="mdi mdi-format-list-checkbox menu-icon"></i></span>
                <span class="menu-title">Event List View</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="eventmanagement">
                <span class="icon-bg"><i class="mdi mdi-table-large menu-icon"></i></span>
                <span class="menu-title">Event Management</span>
              </a>
            </li>
    
            <li class="nav-item">
              <a class="nav-link" href="attendlist">
                <span class="icon-bg"><i class="mdi mdi-account-check menu-icon"></i></span>
                <span class="menu-title">Student Attendees</span>
              </a>
            </li>
            <% if(usertype=="Administrator"){ %>
            <li class="nav-item">
              <a class="nav-link" href="moderatorlist">
                <span class="icon-bg"><i class="mdi mdi-account-badge menu-icon"></i></span>
                <span class="menu-title">Moderator List</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="addmoderator">
                <span class="icon-bg"><i class="mdi mdi-new-box menu-icon"></i></span>
                <span class="menu-title">Add Moderator</span>
              </a>
            </li>
            <% } %> 
            <br>
            <li class="nav-item nav-category">Manage Account</li>
            
            
            <li class="nav-item sidebar-user-actions">
              <div class="sidebar-user-menu">
                <a href="#" class="nav-link"><i class="mdi mdi-settings menu-icon"></i>
                  <span class="menu-title">Settings</span>
                </a>
              </div>
            </li>
          
            <li class="nav-item sidebar-user-actions">
              <div class="sidebar-user-menu">
                <a href="#" class="nav-link"><i class="mdi mdi-logout menu-icon"></i>
                  <span class="menu-title">Log Out</span></a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row" id="proBanner">
              <div class="col-12">
                <hr>
                <hr>
                <span class="d-flex align-items-center purchase-popup">
             <h2 style="color: black;">Welcome to Batangas State University Lipa Campus Event Calendar System </h2>
                 
                </span>
              </div>
            </div>
         
            <div class="row">
              <div class="col-md-12">
                <div class="content">
                  <a href="#" target="_blank">
                    <div class="content-overlay"></div>
                    <img class="content-image" src="/images/bsu-bg.jpg" alt="">
                    <div class="content-details fadeIn-top">
                      <h3>Batangas State University - The National Engineering University <br>Lipa Campus </h3>
                      <p>All About The System here pls</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!--*********************************
            Footer start
          ***********************************-->
          <%- include('../partials/dashboard-footer'); %>
          <!--**********************************
            Footer end
          ***********************************-->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/vendors/chart.js/Chart.min.js"></script>
    <script src="/vendors/jquery-circle-progress/js/circle-progress.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/js/off-canvas.js"></script>
    <script src="/js/hoverable-collapse.js"></script>
    <script src="/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/js/dashboard.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>