<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BSU-ECSYS</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/css/flag-icon.min.css">
    <link rel="stylesheet" href="/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/css/styleStudDashboard.css">
    <link rel="stylesheet" href="/css/img.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/images/Batangas_State_Logo.png" />
      
  </head>
  <body>
    <div class="container-scroller">
      
        <!--**********************************
            Nav header start
        ***********************************-->
        <%- include('../partials/dashboard-navbar'); %>
        <!--**********************************
              Nav header end
          ***********************************-->
      
      <div class="container-fluid page-body-wrapper">
        
        <!--**********************************
            Sidebar start
        ***********************************-->
        <%- include('../partials/dashboard-sidebar'); %>
        <!--**********************************
            Sidebar end
        ***********************************-->
        
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row" id="proBanner">
              <div class="col-12">
                <hr>
                <hr>
                <span class="d-flex align-items-center purchase-popup">
             <h2 style="color: black;">Welcome to Batangas State University Lipa Campus Event Calendar System </h2>
                 
                </span>
              </div>
            </div>
         
            <div class="row">
              <div class="col-md-12">
                <div class="content">
                  <a href="#" target="_blank">
                    <div class="content-overlay"></div>
                    <img class="content-image" src="/images/bsu-bg.jpg" alt="">
                    <div class="content-details fadeIn-top">
                      <h3>Batangas State University - The National Engineering University <br>Lipa Campus </h3>
                      <p>All About The System here pls</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          
          <!--*********************************
            Footer start
          ***********************************-->
          <%- include('../partials/dashboard-footer'); %>
          <!--**********************************
            Footer end
          ***********************************-->
          
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/vendors/chart.js/Chart.min.js"></script>
    <script src="/vendors/jquery-circle-progress/js/circle-progress.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/js/off-canvas.js"></script>
    <script src="/js/hoverable-collapse.js"></script>
    <script src="/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/js/dashboard.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>